<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019-2023</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">N M A M Institute Of Technology, Nitte
               </h4>
               <ul>
                <li> NMAM Institute is Deemed University</li>
                    <li>Pursuing B.E in Information Science & Engineering with <b>8.61 CGPA</b>.</li>
                 <li>Has been active member in <b>NSS</b> </li>
                 <li>Volunteered as group leader in <b>Freshers Orientation Program</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018-2019</p>
              <div class="h5">PUC</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">12TH</div>
               <h4 class="category">R N S Pre University College, Kundapura 
               </h4>
               <ul>
                <li>
                  My 12th stream includes Physics,Chemistry,Mathematics,Biology
                                  </li>
                                  <!--<li>
                                     There was also a good base on physics, mathematics and chemistry.
                                  </li>-->
                                  <li>
                                      Completed my 12th with<b> 93.33%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">10th</div>
               <h4 class="category">Govt Highschool Tallur</h4>
               
               <ul>
                <!--<li>The Secondary aims at Maths , English , Science, Social Scien
                </li>-->
               
                <li>
                    Completed my Secondary school with <b>94.72%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>