<nav class="navbar navbar-expand-lg">
    
  <footer>
    <ul class="social_icon">
        <li><a href="#"><img src="/assets/images/facebook.jpg"  height="30" width="30" alt="facebook icons"/></a></li>
        <li><a href="#"><img src="/assets/images/twitter.jpg" height="30" width="30" alt="twitter icons"/></a></li>
        <li><a href="https://www.linkedin.com/in/rachana-acharya-32a6a720a"><img src="/assets/images/linkedin.jpg" height="30" width="30" alt="linkedin icons"/></a></li>
        <li><a href="#"><img src="/assets/images/instagram.jpg" height="30" width="30" alt="instagram icons"/></a></li>
    </ul>
</footer>