<div class="p-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <!--<img src="../assets/images/profile.jpg" style="display: inline-block;height: min-content;width: min-content;" alt="p-profile"/>-->
                <br>
                <br>
                <br>
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <br>
                <br>
                <br>
                <span class="p-tag">Student</span>
                <br>
                <br>
                <h1 class="mt-3">RACHANA</h1>
                <p class="p-des mt-3 mb-4">Hello, My name is Rachana.I am from Kundapura.I'm an undergraduate student from NMAM Institute of Technology.To speak about me I am highly organised.I always take notes, and I use a series of tools to help myself stay on top of deadlines.I like to keep a clean workspace and create a logical filling method so I am always able to find what I need.I am passionate about my work.Because I love what I do, I have a steady source of motivation that drives me to do my best.</p>
                <!--<a href="#" class="p-readmore">Read More</a>-->
            </div>
        </div>
    </div>
</div>