<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">DIGITAL CV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">About Me </a>
            </li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/courses" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Education Details
                    //<span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/angularcourse">10th</a>
                    <a class="dropdown-item" routerLink="/reactcourse">12th</a>
                    <a class="dropdown-item" href="#">BE</a>
                </div>
            </li>-->
           
            <li class="nav-item">
                <a class="nav-link" routerLink="/education">Education details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/skills">Skills & Internships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/project">Certifications & Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Me</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>